apiVersion: v1
kind: Service
metadata:
  name: dropmate-backend
  labels:
    app: dropmate-backend
  # LoadBalancer exposes the backend externally in DigitalOcean (DOKS)
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: dropmate-backend
